.gridList {
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.artistPicture {
  height: 100%;
  width: auto;
}

.artistPictureContainer {
  display: flex;
  justify-content: center;
  height: 40em;
}
