.App {
}

@font-face {
  font-family: "CanvasFont";
  src: local("CanvasFont"), url("../assets/fonts/mistral.woff") format("woff");
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url("../assets/fonts/AvenirNextLTPro-It.otf") format("truetype");
}

@font-face {
  font-family: "Din";
  src: local("Din"), url("../assets/fonts/DIN-Regular.otf") format("truetype");
}

.canvasTitle {
  font-family: CanvasFont;
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.body {
  margin-left: 7em;
  margin-right: 7em;
  font-family: Din !important;
}

/*ul {
  list-style: none;
  display: inline-block;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #eee;
  color: #ff7e17;

  transition: 0.3s;
}

ul li:hover {
  background-color: #beecea;
}

ul li.focused {
  color: #fff;
  background-color: #ff7e17;
}*/
