.App {
  margin-right: 10em;
  margin-left: 10em;
}

.App-logo {
  height: 80px;
  float: left;
}

.App-header {
  height: 5em;
  color: white;
  margin-top: 5em;
}

.App-intro {
  font-size: large;
}

.artist-picture{
  width: 100px;
  height: 100px;
}

ul{
    list-style:none;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;

    transition:0.3s;
}

ul li:hover{
    background-color:#beecea;
}

ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}
